{% block menu_horizontal %}
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="index.html">Laurent<span>BRAU</span></a>
   </div>
   <div class="navbar-collapse collapse ">
         <ul class="nav navbar-nav">
             <li class="active"><a href="index.html">Accueil</a></li>
             <li><a href="{{ path('projet') }}">Projets</a></li>
             <li><a href="services.html">Loisirs</a></li>
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Informations utiles <b class=" fa fa-angle-down"></b></a>
                 <ul class="dropdown-menu">
                     <li><a href="typography.html"Télécharger mon CV</a></li>
                     <li><a href="button.html">Mes Veilles technologiques</a></li>
                 </ul>
             </li>
             <li><a href="portfolio.html">Portfolio</a></li>
             <li><a href="price.html">Mes recommandations</a></li>
             <li><a href="blog.html">Blog</a></li>
             <li><a href="{{ path('contact_new') }}">Contact</a></li>
             <li class="dropdown language">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                     <img alt="" src="{{ asset('bundles/appvitrine/images/flags/fr.png') }}">
                     <span class="username">French</span>
                     <b class=" fa fa-angle-down"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li><a href="#"><img alt="" src="{{ asset('bundles/appvitrine/images/flags/es.png') }}"> Spanish</a></li>
                     <li><a href="#"><img alt="" src="{{ asset('bundles/appvitrine/images/flags/de.png') }}"> German</a></li>
                     <li><a href="#"><img alt="" src="{{ asset('bundles/appvitrine/images/flags/ru.png') }}"> Russian</a></li>
                     <li><a href="#"><img alt="" src="{{ asset('bundles/appvitrine/images/flags/us.png') }}"> English</a></li>
                 </ul>
             </li>
             <!--<li><input type="text" placeholder=" Search" class="form-control search"></li>-->
         </ul>
     </div>
{% endblock menu_horizontal%}
