{% extends '::base_front.html.twig' %}
{% block body %}
    <!--header start-->
    <header class="header-frontend">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Laurent<span>BRAU</span></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Service</a></li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Feature <b class=" fa fa-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="button.html">Buttons</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="price.html">Price</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="active"><a href="contact.html">Contact</a></li>
                        <li class="dropdown language">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" src="{{ asset('bundles/frontfront/img/flags/fr.png') }}">
                                <span class="username">FR</span>
                                <b class=" fa fa-angle-down"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><img alt="" src="{{ asset('bundles/frontfront/img/flags/es.png') }}"> Spanish</a></li>
                                <li><a href="#"><img alt="" src="{{ asset('bundles/frontfront/img/flags/de.png') }}"> German</a></li>
                                <li><a href="#"><img alt="" src="{{ asset('bundles/frontfront/img/flags/ru.png') }}"> Russian</a></li>
                                <li><a href="#"><img alt="" src="{{ asset('bundles/frontfront/img/flags/us.png') }}"> US</a></li>
                            </ul>
                        </li>
                        <li><input type="text" placeholder=" Search" class="form-control search"></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Contacts</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Contacts</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->
    <!--google map start-->
    <div class="contact-map">
        <div id="map-canvas" style="width: 100%; height: 400px"></div>
    </div>
    <!--google map end-->
    <div class="container" ng-app="wallmod">
        <div class="row">
            <div class="col-lg-5 col-sm-5 address">
                <h4>Parlons-nous :)</h4>
                <img class="portrait" src="{{ asset('bundles/backback/img/myHead.png') }}" alt=""/>
                <p>
                    Laurent BRAU <br/>
                    8, Square Pasteur 93400 SAINT-OUEN <br/>
                    FRANCE
                </p>
                <br>
                <br>
                <br>
                <p>
                    Mobile <br/>
                    <span class="muted">06 76 47 42 72</span><br/>
                    Email <br/>
                    <span class="muted">laurent.brau@gmail.com</span>
                </p>
            </div>
            <div class="col-lg-7 col-sm-7 address" ng-controller="ContactController">
                <div class="contact-form">
                    <form name="form" method="post" action="#">
                        <div class="form-group">
                            <label for="phone">Vous êtes un</label>
                            <select ng-model="profilChoice" ng-change="display()" class="form-control" name="raison-choice" id="raison-choice">
                                <option value="pro">Professionnel(le)</option>
                                <option value="perso">Ami(e)</option>
                                <option value="connaissance">Connaissance</option>
                                <option value="autre">Rien de tout ca :/</option>
                            </select>
                        </div>
                        <div ng-show="itemCommon" class="form-group">
                            <label for="name">Nom</label>
                            <input type="text" placeholder="{% verbatim %}{{ labelNom }}{% endverbatim %}" id="name" class="form-control">
                        </div>
                        <div ng-show="itemPro" class="form-group">
                            <label for="name">Société</label>
                            <input type="text" placeholder="Nom de votre société" id="name" class="form-control">
                        </div>
                        <div ng-show="itemPro" class="form-group">
                            <label for="email">Email</label>
                            <input type="text" placeholder="nom.prenom@domain.com" id="email" class="form-control">
                        </div>
                        <div ng-show="itemCommon" class="form-group">
                            <label for="phone">Telephone</label>
                            <input type="text" placeholder="0606060606" id="phone" class="form-control">
                        </div>
                        <div ng-show="itemCommon" class="form-group">
                            <label for="message">Message</label>
                            <textarea placeholder="Dites moi tout en 2000 caractères ! XD" rows="5" class="form-control"></textarea>
                        </div>
                        <input data-ng-show="itemCommon " class="btn btn-danger sphere" type="submit" value="Envoyer"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--footer start-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h1>contact info</h1>
                    <address>
                        <p>Square Pasteur</p>
                        <p>93400 SAINT-OUEN</p>
                        <p>Phone : 06.76.47.42.72</p>
                        <p>Email : <a href="javascript:;">laurent.brau@gmail.com</a></p>
                    </address>
                </div>
                {#a#}
                <div class="col-lg-3 col-sm-3 col-lg-offset-1">
                    <h1>stay connected</h1>
                    <ul class="social-link-footer list-unstyled">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

{#<section id="main-content" ng-app="wallmod">#}
    {#<section class="wrapper">#}
        {#<div class="row">#}
            {#<div class="col-lg-12">#}
                {#<section class="panel">#}
                    {#<header class="panel-heading">#}
                        {#<div>#}
                            {#<img class="portrait" src="{{ asset('bundles/backback/img/myHead.png') }}" alt=""/>#}
                            {#<div>Laurent BRAU</div>#}
                            {#<div>laurent.brau@gmail.com</div>#}
                            {#<div>0676474272</div>#}

                        {#</div>#}
                    {#</header>#}
                    {#<div class="panel-body">#}
                        {#{{ form_start(form) }}#}
                            {#<div class="form-group">#}
                                {#<label ng-init="nomValue='Qui êtes vous ?'" ng-model ="typeLabel" for="">{% verbatim %}{{ nomValue }}{% endverbatim %}</label>#}
                                {#{{ form_widget(form.nom, {'attr': {'class':'form-control col-lg-1', 'ng-model': 'nom', 'ng-change': 'test()'}}) }}#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<label ng-init="typeValue='Vous êtes'" ng-model ="typeLabel" for="">{% verbatim %}{{ typeValue }}{% endverbatim %}</label>#}
                                {#{{ form_widget(form.type, {'attr': {'class':'form-control col-lg-6'}}) }}#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<label ng-init="typeValue='Vous êtes'" ng-model ="typeLabel" for="">{% verbatim %}{{ typeValue }}{% endverbatim %}</label>#}
                                {#{{ form_widget(form.domaine, {'attr': {'class':'form-control col-lg-6'}}) }}#}
                            {#</div>#}
                            {#<div class="form-group" ng-show="displayFile">#}
                                {#<label ng-init="fileValue='titi'" ng-model ="typeLabel" for="">{% verbatim %}{{ fileValue }}{% endverbatim %}</label>#}
                                {#{{ form_widget(form.file, {'attr': {'class':'form-control col-lg-6'}}) }}#}
                            {#</div>#}
                            {#<p>#}
                                {#<button ng-click="unsubmit($event)" type="submit" class="btn btn-info">Submit</button>#}
                            {#</p>#}
                         {#{{ form_end(form) }}#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#&#123;&#35;<section class="wrapper site-min-height" ng-controller="ContactController">&#35;&#125;#}
        {#&#123;&#35;{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}&#35;&#125;#}
        {#&#123;&#35;<div class="col-lg-6">&#35;&#125;#}
            {#&#123;&#35;<label ng-init="nomValue='Qui êtes vous ?'" ng-model ="typeLabel" for="">{% verbatim %}{{ nomValue }}{% endverbatim %}</label>&#35;&#125;#}
            {#&#123;&#35;{{ form_widget(form.nom, {'attr': {'class':'form-control col-lg-1', 'ng-model': 'nom', 'ng-change': 'test()'}}) }}&#35;&#125;#}
            {#&#123;&#35;{{ form_widget(form.nom2, {'attr': {'class':'form-control col-lg-1'}}) }}&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}

        {#&#123;&#35;<label ng-init="typeValue='titi'" ng-model ="typeLabel" for="">{% verbatim %}{{ typeValue }}{% endverbatim %}</label>&#35;&#125;#}
        {#&#123;&#35;{{ form_widget(form.type, {'attr': {'class':'form-control col-lg-1'}}) }}&#35;&#125;#}
        {#&#123;&#35;<div ng-show="displayFile">&#35;&#125;#}
            {#&#123;&#35;<label ng-init="fileValue='titi'" ng-model ="typeLabel" for="">{% verbatim %}{{ fileValue }}{% endverbatim %}</label>&#35;&#125;#}
            {#&#123;&#35;{{ form_widget(form.file, {'attr': {'class':'form-control col-lg-1'}}) }}&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}
        {#&#123;&#35;<input ng-click="unsubmit($event)" type="submit"/>&#35;&#125;#}
        {#&#123;&#35;{{ form_end(form) }}&#35;&#125;#}
    {#&#123;&#35;</section>&#35;&#125;#}
{#</section>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>
    <!--common script for all pages-->
    <script src=""></script>

    <script type="text/javascript" src="{{ asset('bundles/backback/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backback/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backback/js/hover-dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontfront/assets/bxslider/jquery.bxslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backback/js/angular_libraries/ContactController.js') }}"></script>
    <script>
        //google map
        function initialize() {
            var myLatlng = new google.maps.LatLng(49.2333, 2.9);
            var mapOptions = {
                zoom: 8,
                scrollwheel: false,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Hello World!'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}