{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Laurent BRAU</title>
    
    <link href="{{ asset('bundles/appvitrine/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/css/theme.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/css/bootstrap-reset.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/css/flexslider.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/css/style-responsive.css') }}" rel="stylesheet">
    
    <link href="{{ asset('bundles/appvitrine/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/assets/bxslider/jquery.bxslider.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/assets/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/appvitrine/assets/revolution_slider/css/rs-style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appvitrine/assets/revolution_slider/rs-plugin/css/settings.css') }}" rel="stylesheet">

{% endblock header %}